* {
    margin: 0;
}

.app {
    padding: 1.4em 2.4em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--text-blue);
}

main {
    display: flex;
    flex-direction: column;
    padding: 6em 4em;
}

button {
    color: #64ffda;
    padding: 0.7em 1.7em;
    /* font-size: 18px; */
    border-radius: 0.5em;
    background: transparent;
    /* background: #e8e8e8; */
    border: 1px solid #64ffda;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #8892b0, -6px -6px 12px #64ffda;
}

button:hover {
    border: 1px solid #64ffda;
}

button:active {
    box-shadow: 4px 4px 12px #64ffda, -4px -4px 12px #64ffda;
}
