.about {
    display: flex;
    flex: 1;
    margin-bottom: 8em;
}

.description {
    flex: 0.5;
    padding-right: 3.2em;
}

.description > h1 {
    font-size: 2.8rem;
    color: var(--text-blue);
    margin-bottom: 0.6em;
}

.description > p {
    font-size: 1.2rem;
    color: var(--text-grey);
    margin-bottom: 0.6em;
}

.picture {
    flex: 0.5;
    max-width: 100%;
    height: auto;
}

.picture > img {
    width: 100%;
}
