nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.nav__left {
    font-size: 1em;
}

.nav__right {
    font-size: 1em;
    display: flex;
}

ul {
    display: flex;
}

ul > li {
    margin-right: 2em;
}

li {
    list-style-type: decimal;
    color: var(--text-blue);
}

.logo__name {
    font-size: 2rem;
    color: var(--text-blue);
    font-family: 'Cedarville Cursive', cursive;
}
